<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="picture"></div>
      

    </div>
    
  
    <div class="col-md-6">
      <h4>{{ user.username }}</h4>
      <button ng-show="!edit" ng-click="edit = true" class="btn btn-sm btn-info">edit</button>
      <button ng-show='edit' ng-click="edit = false; reset()" class="btn btn-sm btn-warning" validate>Cancel</button>
      <!-- <div  class="col-sm-8 col-sm-offset-2"> -->
        <form ng-show="edit" ng-submit="updateUser()" class="form-group">
          <label>Username</label>
          <input ng-model="user.username" class="form-control"/>
          <label>password</label>
          <input ng-model="user.password" class="form-control"/>
      <button ng-click="edit=false" class="btn btn-sm btn-success" validate>update</button>
        </form>

      <!-- </div> -->
    </div>
  </div>
</div>

